* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
}

body {
    display: grid;
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    align-items: center;
    background-color: #cccbcb;
    padding: 0 10vw;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1;
    background-color: #eceaea;
}

.title img {
    width: 25vw;
    padding: 3vmin 0 ;
}

.hero-image {
    grid-area: 2 / 1;
}

.hero-image>img {
    width: 100%;
}

/*---------------------Calendar Section-----------------------*/

.training-container {
    grid-area: 3 / 1;
    background-color: #fafafa;
}

.inner-container {
    max-width: 100%;
    padding: 5vmin;
}

.training-day {
    display: inline-block;
    background: red;
    font-weight: bold;
    font-size: 0.5rem;
    padding: 1vmin 1.5vmin;
}

.training-day span:first-child {
    color: #fff;
}

.training-day span:last-child {
    color: #000;
}

.box-container {
    display: flex;
    flex-direction: row;
    margin: 1vh 0 2vh 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eceaea;
    font-weight: bold;
    margin-right: 2vmin;
    height: 8vmin;
    width: 8vmin;
}

.active {
    background-color: red;
    color: #fff;
}

/*---------------------Exercise Section-----------------------*/

.exercise {
    grid-area: 3 / 1;
    font-size: 0.9rem;
}

.exercise p:first-child {
    font-weight: bold;
}

.exercise>p {
    margin: 3px 0;
}

.calendar-btn {
    display: inline-block;
    position: relative;
    background-color: green;
    border: none;
    padding: 1.5vmin 0 1.5vmin 1.5vmin;
    color: #fff;
    font-size: 0.6rem;
    font-weight: bold;
    margin-top: 2vmin;
}

.calendar-btn>span {
    background-color: #035309;
    padding: 1.5vmin 1.8vmin;
    margin-left: 1.5vmin;
}


/*---------------------Linkes Section-----------------------*/

.links {
    grid-area: 5 / 1;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2vmin; 
}

.links>div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
    width: 30%;
}

.links>div>i {
    font-size: 5vmin;
    padding: 1vmin;
    color: red;
    margin-right: 1vmin;
}

/*---------------------Shop Section-----------------------*/


.shop {
    grid-area: 4 / 1;
}

.title-bar {
    background-color: #000;
    font-size: 2.5vmin;
    padding: 3.5vmin 0 3.5vmin 5vmin;
    color: #fff;
    font-weight: bold;
    border-right: 5px solid red;
}

.shop-products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(#c40505, #ee0606, #c40505);
}

.products-text {
    font-size: 3vmin;
    padding-left: 5vmin;
    color: #fff;
    font-weight: bold;
}

.products-img {
    width: 55%;
}

.products-text p:last-of-type {
    font-size: 1.7vmin;
    padding: 2vmin 0;
}

.products-text>p span:first-child {
    color: #000;
}

.products-text>p span:last-child {
    font-size: 5vmin;
}

.shop-btn {
    display: inline-block;
    border: none;
    background-color: #363636;
    font-size: 1.2vmin;
    padding: 1.5vmin 0 1.5vmin 1.5vmin;
    color:#fff;
}

.shop-btn>span {
    background-color: #303030;
    padding: 1.5vmin 1.8vmin;
    margin-left: 1.5vmin;
}



/*---------------------Footer-----------------------*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vmin;
}

.footer-title>img {
    width: 40%;
    
}